@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(226, 219, 219);
}

/* ggg */
.container-job {
  width: 70%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgb(245, 240, 240);
  padding: 5px;
}
.container-job img {
  width: 300px;
  height: 320px;
  display: flex;
  margin: auto;
}
.container-job h2 {
  font-size: 32px;
  color: rgb(16, 16, 102);
  font-weight: bold;
  padding-left: 10px;
}
.container-job h3 {
  font-size: 26px;
  color: rgb(31, 29, 29);
}
.container-job h4 {
  font-size: 22px;
}
.container-job p {
  font-size: 20px;
}

.apply {
  width: 60%;
  margin: auto;
}
.msg {
  text-align: center;
  background-color: rgb(164, 230, 164);
  padding: 2px 4px;
  border: 3px solid rgb(54, 114, 54);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 70%;
  margin: auto;
}

/* responsive */
@media screen and (max-width: 600px) {
  .container-job {
    width: 85%;
  }
  .container-job img {
    width: 240px;
    height: 240px;
  }
}
@media screen and (max-width: 413px) {
  .container-job {
    width: 90%;
  }
  .container-job img {
    width: 90%;
  }
}
